@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

.nav{
    font-family: 'Playfair Display', serif;   
}

.h1-p {
    font-family: 'Anton', sans-serif;
}

.card-title,.p-f {
    font-family: "Roboto Condensed", sans-serif;
}

h2,p {
    font-family: 'Roboto Slab', serif;
}

