// personalizados //
$principal: rgb(235, 148, 216);
$shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.288);

// VARIABLES BS //

// colores //
$danger: $principal;

// navbar //
$navbar-light-color:  black;
$navbar-light-hover-color: $principal;

// carousel //
$carousel-control-color: black;

// card //
$card-border-color: white;
$card-box-shadow: 10px 10px 47px 0px rgba(0,0,0,0.81);

